@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden
}

#plot {
    text-align: center;
    position: fixed;
    height: 95%;
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    /* overflow-y: auto; */
}

.home-block {
    display: inline-block;
    position: relative;
    /* border: 5px solid; */
    top: 55%;
    transform: translate(0, -50%);
    padding: 10px;
    height: 70%;
    width: 30%;
}

.intro-block {
    /* background:#36abf9; */
    /* opacity: 0.7; */
    /* border-radius: 25px; */
    /* border: 2px solid; */
    height: 100%;
    width: 100%;
}

.icon-div {
    border-radius: 100%;
    border: 2px solid;
    height: 250px;
    width: 250px;
    margin-left:auto;
    margin-right:auto;
    background: gray;
    opacity: 0.6;
}

.icon-div .bi {
    font-size: 10rem;
    color: black;
}

.title-div {
    position: relative;
    top: 60px;
}

.title-div h1 {
    font-size: 60px;
}

.content-div {
    position: relative;
    top: 60px;
}

.content-div text {
    font-size: 30px;
}

#menus {
    font-size: 2.5em;
}

#menus span {
    position: relative;
    left: 10px;
}

#menus select {
    font-size: 2.5rem;
}

#menus select option {
    font-size: 1rem;
}

.navbar {
    height: 70px;
}

.navbar-brand {
    position: relative;
    left: 20px;
}

.wrapper {
    display: block;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    /* top layer */
    z-index: 9999;
}

.overlay {
    display: none;
    position: fixed;
    /* full screen */
    width: 100vw;
    height: 100vh;
    /* transparent black */
    background: rgba(0, 0, 0, 0.7);
    /* middle layer, i.e. appears below the sidebar */
    z-index: 998;
    opacity: 0;
    /* animate the transition */
    transition: all 0.5s ease-in-out;
}

/* display .overlay when it has the .active class */
.overlay.active {
    display: block;
    opacity: 1;
}

#dismiss {
    width: 35px;
    height: 35px;
    position: absolute;
    /* top right corner of the sidebar */
    top: 10px;
    right: 10px;
}

#mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 220px;
    height: 100%;
    background-color: #373737;
    z-index: 9999;
}

#mobile-menu button {
    position: relative;
    top: 10px;
    left: -10px;
    float: right;
}

#mobile-menu ul {
    clear: both;
}

a:hover,
a:focus {
    text-decoration: none;
}

.mobile-nav ul {
    position: relative;
    top: 20px;
}

.mobile-nav ul li a {
    color: gray;
    display: block;
    padding: 1em 5%;
    border-top: 1px solid #4f4f4f;
    border-bottom: 1px solid #292929;
    transition: all 0.2s ease-out;
    cursor: pointer;
}

.mobile-nav ul li a #mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 220px;
    height: 100%;
    background-color: #373737;
    z-index: 9999;
    transition: all 0.3s ease-in;
}

.mobile-nav ul li a:hover {
    background-color: #23a1f6;
    color: #ffffff;
}

.show-nav {
    transform: translateX(0);
    transition: all 0.5s;
}

.hide-nav {
    transform: translateX(-220px);
    transition: all 0.5s;
}

tr {
    line-height: 35px;
    /* min-height: 25px;
    height: 25px; */
}